<!DOCTYPE html>
<html>
<head>
    <title>Hue Lights Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Hue Lights</h1>
    <ul>
    {% for light_id, light in lights.items() %}
        <li>
            <a href="/toggle/{{ light_id }}">{{ light.name }}: {{ 'On' if light.on else 'Off' }}</a>
        </li>
    {% endfor %}
    </ul>
    <a href="/lights">Lights Overview</a>
    <a href="/automations">Automations</a>
</body>
</html>
