<!DOCTYPE html>
<html>

<head>
    <title>Hue Light Detail</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<bbody>
    <div class="container">
        <div class="sidebar">
            <h1>Menu</h1>
            <a href="/">Home</a>
            <a href="/lights" class="active">Lights</a>
            <a href="/automations">Automations</a>
        </div>
        <div class="content">
            <h1>{{light.name}}</h1>
            <ul id="lights-list">
                {% for attr in dir(light) %}
                    {% if not attr.startswith('_') and not callable(getattr(light, attr)) %}
                        <li><strong>{{ attr }}:</strong> {{ getattr(light, attr) }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    </body>

</html>