<!DOCTYPE html>
<html>

<head>
    <title>Hue Lights Overview</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<bbody>
    <div class="container">
        <div class="sidebar">
            <h1>Menu</h1>
            <a href="/">Home</a>
            <a href="/lights" class="active">Lights</a>
            <a href="/automations">Automations</a>
        </div>
        <div class="content">
            <h1>Lights Overview</h1>
            <ul>
                {% for light_id, light in lights.items() %}
                <li>{{ light.name }}: {{ 'On' if light.on else 'Off' }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </body>

</html>